/**
	Especificaciones CSS para el juego del solitario 
*/

/* /*** !!!!!!!!!!!!!!!!!!! CODIGO !!!!!!!!!!!!!!!!!!!! 
	Completar los estilos que faltan y modificar al gusto del alumno
**/

/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
}


/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
}

.box {
	display: inline-block;
	min-width: 200px;
}

.hhmmssBox {
	display: inline-block;
	min-width: 130px;
	font-family: var(--bs-font-monospace);
}

.cntBox {
	display: inline-block;
	min-width: 55px;
	font-family: var(--bs-font-monospace);
}

/* Centrado de los marcadores de tiempo y movimientos */
h3#marcadores {
	text-align: center;
}

/* Mesa que contiene a los tapetes centrados */
div#mesa {
	text-align: center;
	margin: 20px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete {
	display: inline-block;
	position: relative;
	margin: 10px;

	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	box-sizing: border-box;
	padding: 8px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial {
	width: 360px;
	height: 360px;
	background-color: lightgrey;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial) {
	height: 135px;
	width: 110px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes {
	background-color: lightblue;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor {
	background-color: lightgreen;
}

/* Estilo para cartas arrastrables */
img[draggable="true"] {
	cursor: grab;
	transition: opacity 0.2s;
}

img[draggable="true"]:active {
	cursor: grabbing;
}

/* Estilos del header */

img#header-logo {
	max-width: 150px;
	max-height: 150px;
	width: auto;
	height: auto;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

/* Estilos del contenedor del header dentro de central */
div#header-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-bottom: 20px;
	margin-top: 20px
}

div#header-content h1 {
	margin: 0;
	color: #E65014;
}